
<div class="jumbotron center">
    <h1>Welcome to my App</h1>
    <p>Design, and Developed using ruby software<br>ruby is better than java</p>
    
    <%= link_to "Login", root_path, class: 'btn btn-default' %>
    <%= link_to "Join", root_path, class: 'btn btn-primary' %>
   
</div>